<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/modern-normalize@3.0.1/modern-normalize.css" />
    <link rel="stylesheet" href="/estilos.css" />
    <link rel="stylesheet" href="../static/estilos.css" />
    <title>📚 letterbookd</title>
</head>

<body>
    <aside>
        <h1>📚 letterbookd</h1>
        <span>links rápidos</span>
        <a href="/">página inicial</a>
        <a href="/livros/adicionar">adicionar livro</a>
        <a href="/lista">minha lista</a>
    </aside>
    <main>
        <section class="livro-card">
            <article>
                <section class="livro-section">
                    <div>
                        <h3 id="titulo" th:text="${livro.titulo}">Título do livro</h3>
                        <span id="autor" class="livro-autor" th:text="${livro.autor}">Autor</span>
                    </div>
                    <div class="livro-acoes">
                        <a th:href="@{'/livros/editar/' + ${livro.id}}" class="btn-acao">Editar</a>
                        <a th:href="@{'/livros/excluir/' + ${livro.id}}" id="excluir"
                            class="btn-acao btn-excluir">Excluir</a>
                    </div>
                </section>

                <section class="livro-descricao">
                    <p th:text="${#strings.isEmpty(livro.descricao) ? 'Sem descrição' : livro.descricao}">
                        Descrição do livro...
                    </p>
                </section>
                <section class="form-actions">
                    <form th:action="@{/lista/lidos/{id}(id=${livro.id})}" method="post">
                        <button type="submit">Marcar como lido</button>
                    </form>
                    <form th:action="@{/lista/{id}(id=${livro.id})}" method="post">
                        <button type="submit">Adicionar na minha lista</button>
                    </form>
                </section>
                <section class="livro-reviews">
                    <h4 th:text="${reviews.size()} + ' Avaliações'">Avaliações</h4>
                    <form th:action="@{/avaliar/{id}(id=${livro.id})}" th:object="${review}" method="post">
                        <label for="autor">Nome:</label>
                        <input type="text" placeholder="Seu nome" name="autor" required>
                        <label for="texto">Avaliação:</label>
                        <textarea title="Deixe algum comentário sobre o livro"
                            placeholder="Deixe algum comentário sobre o livro" name="texto"></textarea>

                        <label for="nota">Nota:</label>
                        <div class="range">
                            <input type="range" id="nota" name="nota" min="1" max="10" value="5" list="tickmarks">
                            <div class="legenda-range">
                                <span>1</span>
                                <span>2</span>
                                <span>3</span>
                                <span>4</span>
                                <span>5</span>
                                <span>6</span>
                                <span>7</span>
                                <span>8</span>
                                <span>9</span>
                                <span>10</span>
                            </div>
                        </div>
                        <button type="submit" style="margin-top: 1em;">Avaliar</button>
                    </form>
                    <ul class="comentarios">
                        <li th:each="comentario : ${reviews}">
                            <img src="https://www.gravatar.com/avatar/?d=mp" alt="Foto de perfil" class="avatar">
                            <div class="comentario-texto">
                                <strong th:text="${comentario.autor}" id="autor">Autor</strong>
                                <p>
                                    <span th:text="${comentario.nota} + '/10 - '" id="nota" class="nota">Nota</span>
                                    <span th:text="${comentario.texto}">Comentário</span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </section>
            </article>
        </section>

    </main>
</body>

</html>